.navBar-hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    display: none;
}

.navBar-image-wrapper {
    width: 100px;
    height: 106px;
    overflow: hidden;
    position: relative;
    flex: 1;
}

.navBar-image-wrapper img {
    position: absolute;
    width: 150px; 
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.navBar-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navBar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.navBar-left,
.navBar-center,
.navBar-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar-left {
    justify-content: flex-start;
}

.navBar-right {
    justify-content: flex-end;
}

.navBar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-size: larger;
    cursor: pointer;
}

.navBar-links li {
    width: fit-content;
    text-align: left;
}

.navBar-links li p:hover {
    color: #228B22;
}

.navBar-links.open {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: left;
    background-color: white;
}

.navBar-searchIcon {
    width: 27px;
    height: auto;
    cursor: pointer;
    justify-content: center;
}

.navBar-gardenIcon {
    width: 40px;
    margin-right: 10px;
}

.navBar-cartIcon {
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.navBar-sticky {
    padding-top: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

/* Media Query for Responsive Behavior */
@media (max-width: 768px) {
    .navBar-hamburger {
        display: block; /* Show hamburger menu */
    }

    .navBar-links {
        display: none; /* Hide full menu by default */
    }

    .navBar-links.open {
        display: block; /* Show full menu when hamburger is toggled */
        flex-direction: column;
        gap: 0.5rem;
    }
}